.categoriesListContainer {
  width: 1034px;
  height: 188px;
  border-radius: 30px;
  background: linear-gradient(
    116deg,
    #383847 23.54%,
    rgba(56, 56, 71, 0.29) 107.94%
  );

  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}

.buttonCategory {
  color: green;
}
