.categoriesListContainer {
  min-width: 1034px;
  height: 346px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(56, 56, 71, 1);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);
  margin-top: 32px;
  margin-bottom: 40px;
  margin-left: 123px;
  margin-right: 123px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}

.buttonCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.ulContainer {
  display: flex;
  width: 768px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.categoriesList {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 43px;
}

.categoriesListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categoryName {
  color: var(--White-2, #c7ccdc);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.total {
  color: var(--White-2, #c7ccdc);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
