@import-normalize;
/* bring in normalize.css styles */

:root {
  --background: #1f1f27;
  --text-color: #f6f7fb;
  --white-1: #c7ccdc;
  --white-DC: #c7ccdc;
  --grey: #474759;
  --grey-6B: #56566b;
  --button: #42a652;
  --yellow: #fff500;
  --salat: #60c470;
  --red: #fe4566;
  --grey47: #383847;
  --grey8F: #80848f;
  --green: #b0e8b9;
  /* filter: blur(400px або 200px)*/
  --img-grad: radial-gradient(circle, var(--green), 10%);

  /* Effect styles */
  --drop--shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  --drop-shadow-2: 0px 2px 3px rgba(0, 0, 0, 0.15);
  --green: 0px 0px 6px rgba(65, 163, 80, 1);

  /*--- Transition ---*/

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* body {
    font-family: 'Roboto', sans-serif;
    background-color: #383847;
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-image: url("./images/mobile/ellipse-mobile-1x.webp");
    
    @media screen and (min-width: 768px) {
        background-position: top left, top right;
        background-image: url("./images/tablet/ellipse-tablet-1x.webp"), url("./images/desktop/Rectangle-2.png");
    }
  

} */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #21212c;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto;
  width: 100%;
  background-position: top left, top right;
  background-image: url('./images/mobile/ellipse-mobile-1x.webp');

  @media screen and (min-width: 768px) {
    background-position: top left, top right;
    background-image: url('./images/tablet/ellipse-tablet-1x.webp'),
      url('./images/desktop/Rectangle-2.png');
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 20px; */
}

select:focus {
  outline: none;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    /* max-width: 320px; */
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    min-width: 1280px;
    padding-left: 91px;
    padding-right: 91px;
  }
}
